.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 1em;
    padding: .7em;
}

.poke__card {
    cursor: pointer;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.poke__card:hover::after {
    content: "Click To More Info";
    position: absolute;
    width: 100%;
    height: 100vh;
    color: #000;
    top: 50%;
    left: 50%;
    background-color: #7EC6C5;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    opacity: .8;
}

.card__header {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    margin-bottom: 1.3em;
    height: 170px;
}

.card {
    position: relative;
    width: 200px;
    height: 150px;
    top: -10%;
    left: 20%;
}

.card img {
    width: 240px;
    aspect-ratio: 1;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__container {
    text-align: center;
}

.info__title {
    margin-top: .7em;
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: #1d9766;
}

.info__items {
    display: flex;
    justify-content: center;
    gap: .5em;
    font-size: 1.4rem;
}

.card__stat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.stats__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.stats__item {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: .4em;
    text-align: center;
}

.stats__item span:first-child {
    color: rgb(152, 146, 146);
    font-size: 1.2rem;
    font-weight: 500;
}

.stats__item span:last-child {
    color: rgb(213, 105, 66);
    font-size: 1.5rem;
    font-weight: bold;
}

@media (min-width: 700px) {

    .card {
        top: -5%;
        left: 17%;
    }

    .card__info {
        margin-top: 2em;
        margin-bottom: -.1em;
    }

    .stats__item {
        gap: .2em;
    }
}